doctype
html
    head
        block title
            title Node JS chat
        include ./includes/scripts.jade
    body
        .container-fluid
            include ./includes/header.jade
            block content
            include ./includes/footer.jade






